* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: Anybody;
  }

.main{
    height: 100%;
    width: 100%;
    /* background-color: #dadada; */
    display: grid;
    grid-template-columns: 20% 80%;
}

.left{
    /* background-color: aliceblue; */
    height: 100%;
    display: grid;
    grid-template-rows:15% 30% 1% 20% ;
}

#profile{
    padding: 10px;
    padding-right:20px ;
    align-items: center;
    justify-self: center;
}
#profile img{
    object-fit: content;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
}
#menu{
    justify-self: center;
    align-content: center;
}
#menu div{
    padding: 13px;
    cursor:pointer;
}
#menu a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
    border: 0.5px solid transparent;
    padding: 10px;
    cursor:pointer;
}
#menu a:hover{
    padding: 10px;
    border: 0.5px solid rgb(198, 198, 198);
    border-radius: 7px;
    box-shadow: 10px;
}

#current{

    justify-self: center;
}
#current p{
    padding: 20px;
    color: #434242;
}
#current p i{
    font-size: 1.4vw;
    font-weight: 500;
}

.line {
    border: 0.5px solid rgb(221, 221, 221);
    margin-left: 10%;
    margin-right: 10%;
}
.right{
    /* background-color: bisque; */
    padding: 20px;
    padding-top: 30px;
    display: grid;
    grid-template-rows: 20% 30% 1% 49%;
}
.right h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.right h1::first-letter{
    font-size: 3.5vw;
    font-weight: 300;
}
.right h3{
    color: rgb(146, 210, 137);
    font-weight: 300;
    font-stretch: extra-condensed;
}
.right span{
    font-size: 20px;
}
.head{
    /* background-color: blue; */
}

.para{
    line-height: 2vw;
    margin-right: 25%;
    /* background-color: aquamarine; */
}
#para2{
    margin-top: 5vh;
}

.liner{
    border-top: 1px solid rgb(221, 221, 221);
    margin-right: 10%;
}
.proj span{
    line-height: 75px;
    font-weight: 300;
}